#languageButton {
  margin: 0 4px;
}

* html * #languageButton {
  margin-bottom: -1px;
  font-size: 9pt;
}

#languageSelectionForm {
  margin: 3px 0 5px 0;
  text-align: <%= bidiString('right','left') %>;
}

#langSelectWrapper {
  color:<%= property('languageTextColor', property('textColor', '#FFFFFF')) %>;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  position: relative;
  top:0px;
  left: 0px;
  z-index: 20; 
  background: <%= property('languageBackgroundColor', '#dbdce3') %>;
  margin: 0px;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#titleOverlay {
  position: absolute;
  bottom: 15px;
  margin-<%= bidiString('right','left') %>: 28px;
  margin-<%= bidiString('left','right') %>: 15px;
  color: #000000;
  z-index: 100;
  text-align: <%= bidiString('right','left') %>;
  padding: 0px;
}

#imageDiv {
  position: relative;
  top: 0px;
  left: 0px;
  height: <%= parseInt(property('langSelectHeight', '373')) + -65 + 'px'; %>;
  width: <%= parseInt(property('langSelectWidth', '656')) + -51  + 'px'; %>;
}

body {
  padding: 15px;
}